<!-- Formulario reactivo basico -->
<form [formGroup]="basicForm">
  <!-- Preview de los valores del form -->
  <h2>Datos en vivo del form:</h2>
  <!-- Pipe de objeto a json -->
  <p>{{ basicForm.value | json }}</p>
  <hr />
  <!-- Campos del formulario -->
  <p>
    <input matInput placeholder="Nombre" formControlName="name" type="text" />
  </p>
  <p>
    <input
      matInput
      placeholder="Apellidos"
      formControlName="last_name"
      type="text"
    />
  </p>
  <p>
    <input matInput placeholder="Email" formControlName="email" type="text" />
  </p>
  <p>
    <input matInput placeholder="Telefono" formControlName="tel" type="text" />
  </p>
  <p>
    <input
      matInput
      placeholder="Dirección"
      formControlName="address"
      type="text"
    />
  </p>
</form>
